/* 全局开始 */
.content a{
    color: #428bca;
    text-decoration: none;
}
.content media-body a{
    color: #428bca;
    text-decoration: none;
}
html, body { height: 100%; font-family: "Microsoft Yahei", "MS PGothic", "Helvetica Neue", Helvetica, Arial, sans-serif;}
h1 {font-size: 20px; font-weight: bold; }
h2 {font-size: 18px; font-weight: bold; }
h3 {font-size: 16px; font-weight: bold; }
h4 {font-size: 14px; font-weight: bold; }
h5 {font-size: 12px; font-weight: bold; }
h6 {font-size: 10px; font-weight: bold; }
img {max-width: 100%;}
.wrap { min-height: 100%; height: auto; margin: 0 auto -240px; padding: 0 0 240px; }
.wrap > .container { padding: 70px 15px 20px; }
.navbar-brand { padding-top: 0; padding-right: 0; padding-bottom: 0;}
.navbar-right > li > a.avatar { padding-top: 10px; padding-bottom: 0; }
.navbar-right > li > a.avatar img {border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); background:#ccc; padding:1px; }
.navbar-right > li .badge {background: #D8582B; padding: 2px 4px; margin: 0; font-size: 10px;}
/*.btn, .label, .form-control, .breadcrumb, .container .jumbotron, .well, .popover, .panel, .alert, .nav > li > a, pre, code, .progress, .thumbnail {border-radius: 0;}*/
.page-header {padding-bottom: 8px;}
.page-header, .page-header h1 {margin-top:0;}
.page-header h1 .nav { float: right; font-size: 16px; border-bottom: none; font-weight:bold; }
.page-header h1 .nav > li > a { padding: 8px 15px;}
.page-header h2 .nav { float: right; font-size: 14px; border-bottom: none; font-weight: normal; }
.page-header h2 .nav > li > a { padding: 8px 10px 9px 10px;}
h1 small { font-size: 16px;}
h2 small { font-size: 14px;}
.panel-body ul { margin-bottom: 0;}
.panel-body li:last-child {border-bottom: none;}
.label { font-size: 12px; font-weight: normal; margin-left: 10px;}
.label a {color: #fff; text-decoration: none;}
.label a:hover {color: #eee;}
.list {padding: 0;}
.list li {list-style: none; line-height: 2.2em; border-bottom: #ddd dashed 1px;}
.footer { height: 240px; background-color: #222; color: #9D9D9D; }
.footer ul { padding: 0;}
.footer li { line-height:1.8em; list-style: none; }
.footer a { color: #9D9D9D; }
.footer a:hover {color: #fff;}
.footer hr { border-top: 1px solid #111; border-bottom: 1px solid #333; margin: 10px 0;}
.footer .share { margin-top: 20px; margin-bottom: 20px;}
.footer .share a { background: url(../images/follow.png); width: 50px; height: 50px; display: block; }
.footer .share a:hover { background-image: url(../images/follow-hover.png); }
.footer .share a.wb { background-position: 0 0; }
.footer .share a.qq { background-position: -50px 0; }
.footer .share a.wx { background-position: -100px 0; }

.tool {position: fixed; right: 0; bottom: 100px; right: 2px;}
.tool.btn-group-lg > .btn { padding: 5px 10px; font-size: 24px; color: #666; }
.online { position: fixed; left: 0; top: 100px; left: 2px; border: #ccc solid 1px; background: #eee; padding: 5px; border-radius: 4px; z-index: 999;}
.online > ul { padding: 0; margin: 0; margin-top: -5px;}
.online > ul > li { list-style: none; margin-top: 5px;}
.online p {font-style:normal; font-size: 12px; color: #16A314; text-align: center; margin: 3px 0 0 0;}
ul.auth-clients {padding: 0;}
.auth-icon.qq {background: url(../images/login.png);}
.auth-icon.wb {background: url(../images/login.png) -32px 0;}
/* 全局结束 */

/* 首页开始 */
.container .jumbotron {margin: 0; padding: 5px 30px; border: #ddd solid 1px; background-color: #F5F5F5; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);}
.jumbotron h1 { font-size: 20px; font-weight: bold;}
.jumbotron h2 { margin-top: 14px; }
.jumbotron p { font-size:14px;}
.jumbotron .btn {font-size: 16px; padding: 8px 12px; margin-right: 20px;}
.features {margin-bottom: 10px; padding: 0 10px;}
.fast {color: #D8582B;}
.secure {color: #16A314;}
.professional {color: #3B6FBA;}
h2.fast, h2.secure, h2.professional {padding: 15px 0 13px 60px; }
h2.fast {background: transparent url(../images/fsp.png) no-repeat scroll 0 0;}
h2.secure {background: transparent url(../images/fsp.png) no-repeat scroll 0 -58px;}
h2.professional {background: transparent url(../images/fsp.png) no-repeat scroll 0 -116px;}
.index-list {padding: 0; margin: 0;}
.index-list a.blank { margin-right: 5px; color: #999; text-decoration: none;}
.index-list a.blank:hover { color: #666;}
.index-list .glyphicon-ok { color: #16A314; margin-left: 5px;}
.index-list .time {font-size:12px; color:#bbb; float:right;}
.index-list .tags {margin-left:10px;}
.index-list .user {font-size:12px; color:#bbb; margin-left:10px;}
.index-list .user a { color: #999;}
.index-list .user a:hover { color: #666;}
.index-list .stat {font-size:12px; color:#bbb; float:right;}
.index-list li {list-style: none; line-height:2.4em; border-bottom:#ddd dashed 1px;}
/* 首页结束 */

/* 关于开始 */
.member { margin: 0.5em 0px; }
.member .name { font-size: 1.1em; font-weight: bold; }
.member .since { font-style: italic; }
/* 关于结束 */

/* 文档开始 */
.books img {margin:0 10px 10px 0;float:left;}
/* 文档结束 */

/* 排行榜开始 */
.top ul {padding: 0;}
.top li {list-style: none; margin-bottom: 10px; border-bottom: #ccc dotted 1px; padding-bottom: 10px;}
.top li p em {color: #999; font-weight: normal; font-style: normal; width: 50px; display: inline-block; font-size: 12px;}
.top li p {font-weight: bold; color: #D8582B; font-size: 16px; margin-bottom: 0;}
.top li.media { margin-top: 0;}
.top li p em i {color: #D8582B; font-size: 14px; font-style: normal; font-weight: bold;}

/* 排行榜结束 */

/* 下载开始 */
table.download-grid { width:100%;}
table.download-grid  th{background:#eee; text-align:left;}
table.download-grid  th,table.download-grid  td{ border:1px #ddd solid; padding:.2em .5em;}
.download-grid .unstable{color:red;}
.download-grid .stable{color:green;}
.download-grid .instructions{background:#eee; font-family:"Courier New",Courier,mono; padding:.5em;}
/* 下载结束 */

/* 新闻开始 */
.news-list {padding: 0;}
.news-list ul {padding: 0; margin: 0;}
.news-list li {list-style: none; border-bottom: #ccc dashed 1px; padding-bottom: 10px; list-style: none;}
.news-list h2 {margin: 10px 0 0 0;}
.news-list .time {color: #999; line-height: 2.2em;}
.news-list .content { color: #333; line-height: 1.8em;}
/* 新闻结束 */

/* 列表页开始 */
.media-list > .media {border-bottom: #eee solid 1px; padding-bottom: 10px; margin-top: 10px;}
.media-body > .media {border-bottom:#ddd dotted 1px; padding-bottom: 10px; margin-top: 10px;}
.media-body .hint {border-bottom: #eee solid 1px; padding-bottom: 5px;}
.media-body .hint em {color: #D8582B; font-style: normal;}
.media-object, .avatar-list img, .avatar-big, .avatar-middle, .avatar-small, .online img, .top img {border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1); background:#fff; padding:2px;}
.media-heading { color: #999;}
.media-heading .pull-right a {color:#999;}
.media-list > .media > .media-body > h2.media-heading { font-size: 16px; margin: 8px 0px 8px; }
h2.media-heading small { font-size: 14px; margin-left: 10px; color: #999; }
h2.media-heading small a { color: #999;}
h2.media-heading small a:hover { text-decoration: none; color: #666; }
.media-body blockquote { font-size: 14px; padding: 5px 10px; margin-bottom: 10px; background: #F5FAFF; border-radius: 4px; border-left: 5px solid #E0E5EA; line-height: 1.6em;}
.media-body blockquote h4 { margin: 0; padding: 0; color: #3B6FBA; line-height: 1.8em;}

a.comments, a.answers, a.replies, a.views { font-size: 12px; line-height: 1.8em; background: #ccc; width: 50px; display: inline-block; height: 52px; margin-left: 10px; text-align: center; color: #f5f5f5; text-decoration: none;}
a.comments em, a.answers em, a.replies em, a.views em { color: #999; font-weight:bold; background: #f5f5f5; display: block; line-height: 2.1em; font-style: normal; font-size: 14px;}
.dot { margin: 0 5px;}

pre ol {padding-left: 0;}

.media-content {}
.media-action { margin-top: 8px; color: #bbb;}
.media-action a {color: #999;}
.media-action a:hover {color: #666;}

.btn-block { margin-bottom: 20px;}

.vote { float:right; }
.vote .up, .vote .down { margin-left: 10px;}
.vote em { font-style: normal;}
.tag-list { padding: 0;}
.tag-list li { float: left; list-style: none; margin: 5px;}
.tag-list li .label {margin-left:0;}
.avatar-list {padding: 0; margin: -4px -8px;}
.avatar-list li {list-style: none; float: left; width: 25%; padding: 4px;}
li .popover { width: 276px; height: 190px;}
.media-user {border-bottom: #ddd dotted 1px; padding-bottom: 8px; font-size: 12px;}
.media-user .time { line-height: 1.6em; color: #666;}
.media-user .media-object { margin-bottom: 6px;}
.media-user .label { margin-left: 0; }
.media-user h2 { font-size: 14px; color: #333;}
.media-user small { font-size: 12px;}
.media-footer .board {height: 45px; border-bottom: #eee solid 1px; margin-bottom: 8px; color: #666;}
.media-footer .board span {width: 25%; font-size: 12px;}
.media-footer .board span em {font-size: 14px;}
.media-footer {margin-top: 5px;}
.media-footer .btn { margin-right: 10px;}
.bdsharebuttonbox { margin-top: 20px;}
/* 列表页结束 */

/* 详细页开始 */
.action { border-bottom: #ddd dotted 1px; padding-bottom: 10px; margin-bottom: 20px; color: #999;}
.action a {color: #999; text-decoration: none;}
.action em, h2 em {font-style: normal;}
.action .user {margin-right:10px;}
.action .views {margin-right:10px;}
.action .comments, .action .answers, .action .replies {margin-right:10px;}
.action .time {margin-right:10px;}
.action .favourites {margin-right:10px;}

.best { background: #DFF0D8; padding: 10px; }
/* 详细页结束 */

/* 个人主页开始 */
.well .media h2 {color: #333; margin-top: 0; font-size: 16px; padding-top: 0; overflow: hidden;}
.well .media .media-body {line-height: 1.7em; color: #999;}
.well .media-footer {margin-top: 10px; color: #ccc;}
.well .media-footer em {margin: 0 5px; font-style: normal;}
.media .male { color: #3B6FBA;}
.media .female { color: #D8582B;}

.page-header h2 em {color: #D8582B;}
.board { height: 80px;}
.board span { width: 33.33%; float: left; text-align: center; border-right: #ddd solid 1px; font-size: 18px;}
.board span:last-child { border-right: none;}
.board span em { font-style: normal; font-size: 24px; color: #D8582B; line-height: 1.6em;}
/* 个人主页结束 */

/* 个人中心开始 */
.preview { height: 260px; }
.preview .hint {font-size: 14px; margin-top: 10px;}
.avatar-big, .avatar-middle, .avatar-small {float: left; overflow: hidden;}
.avatar-big {margin: 0 20px 0 0; width: 206px; height: 206px;}
.avatar-middle {margin: 80px 20px 0 0; width: 126px; height: 126px;}
.avatar-small {margin: 152px 0 0 0; width: 54px; height: 54px;}
.nav-user {margin-bottom: 20px;}
.nav-user.nav > li > a { padding: 8px 15px;}

.fileinput .thumbnail > img {max-height: 400px;}
/* 个人中心结束 */

/* 视频开始 */
.video-list { padding: 0; margin: 0 -10px;}
.video-list li { float: left; width: 25%; list-style: none;}
.video-list li .thumbnail { margin: 10px;}
.video-list h2 {font-size: 14px; margin-top:10px;}
.video-list p {color: #999; font-size: 12px;}
/* 视频结束 */

/* 案例开始 */
.list-view {margin: 0 -10px;}
.list-view .item { width: 25%;}
.list-view .item .thumbnail { margin: 10px;}
.list-view .item .thumbnail > h2 {text-align: center; font-size: 14px; margin: -28px 0 0 0; line-height: 2em; font-weight: normal; background:#333; filter: alpha(opacity=80); opacity:0.8;}
.list-view .item .thumbnail > h2 a {color: #fff;}
.list-view .item .thumbnail > .media {background: #eee; padding: 5px; margin-top: 5px;}
.list-view .item .popover { width: 276px;}
/* 案例结束 */

/* tour开始 */
.step {margin:0 0 1em 0;padding:1em 0;}
.step img {padding:5px;border:1px solid #ccc;}
.step img:hover {background-color:#ECF8FF;border-color:#B0E1FF;}
.step0,.site-tour .step1,.site-tour .step2b {border-bottom:1px solid #eee;}
.step2a {border-bottom:1px dashed #eee;}
.step .screenshot {float:left;}
.step h2 {font-size:16px;margin:0 0 .2em 0;}
.step .desc {float:left;margin:0 0 0 15px;width:420px;}
.step .desc del {background: #FFC0CB;}
/* tour结束 */

a.emot { margin-right: 10px;}
table.emot td {cursor: pointer; border: #eee solid 1px; padding: 2px;}
.picture {margin-right: 20px;}
.form-group.action a {line-height: 30px;}
.form-group.action .popover {max-width: 320px;}


.user-clients .auth-icon { display: block; width: 32px; height: 32px; }
.user-clients .auth-client { float: left; margin: 0 1em 0 0; list-style: none;}
.user-clients .auth-client .auth-link { display: block; width: 88px; }
.user-clients .auth-client .auth-link .auth-icon { margin: 0 auto; }
.user-clients .auth-client .auth-link .auth-title { display: block; margin-top: 0.4em; text-align: center; }

.site-error { width: 500px; margin: 0 auto;}
.site-error h1 { font-size: 60px; font-family: Arial; text-align: center; margin: 100px 0 60px 0;}
.error-search { background: url(../images/yii.png) no-repeat; width: 100%; padding: 20px 0 20px 80px;}
.site-error p {margin-top: 20px; text-align: center;}

/* Widget开始 */
.md-input {width: 100%;}
.markdown-help { padding: 5px 10px; list-style: none; font-size: 12px; }
.markdown-help .popover { font-size: 12px;}
/* Widget结束 */

/* markdown editor */
.editor-toolbar { height: 40px; }
.markdown-editor { width: 100%; }




.glyphicon-ok-sign { color: #16A314;}
.glyphicon-question-sign { color: #D8582B;}



/***media use****/
// Media objects
// Source: http://stubbornella.org/content/?p=497
// --------------------------------------------------


// Common styles
// -------------------------

// Clear the floats
.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}

// Proper spacing between instances of .media
.media,
.media .media {
  margin-top: 15px;
}

.media {
  > .pull-left {
    margin-right: 10px;
  }
  > .pull-right {
    margin-left: 10px;
  }
}


// Media list variation
// -------------------------

// Undo default ul/ol styles
.media-list {
  padding-left: 0;
  list-style: none;
}

